@{
    ViewData["Title"] = "Index";
}

<h1 class="h2" style="text-align: center">Testy</h1>


<p>
    
</p>
<section>
    <div class="wrapper">
        <div class="grid-wrapper">
            <div class="grid-parent">
                <div class="grid-element">
                    <i class="fa fa-users"></i>
                    <span>Studenci</span>
                </div>
                <div class="grid-element">
                    <i class="fa fa-users"></i>
                    <span>Studenci</span>
                </div>
                <div class="grid-element">
                    <i class="fa fa-users"></i>
                    <span>Studenci</span>
                </div>
                <div class="grid-element">
                    <i class="fa fa-users"></i>
                    <span>Studenci</span>
                </div>
            </div>
        </div>
    </div>
</section>

