html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #212529;
    color: white;
}

/*AUTOCOMPLETE*/

.ui-autocomplete {
    background-color: #212324;
    width: 20%;
}

/*Sidebar list*/

.ui-menu-item{
    cursor: pointer;
    font-weight:bold;
}


/*PAGINATION*/

.paginationButtons {
    float: right;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

    .paginationButtons a:link, .paginationButtons a:visited {
        background-color: none;
        color: #0d6efd;
        padding: 8px 17px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 15px;
        border: 1px solid #0d6efd;
    }

    .paginationButtons a:hover, .paginationButtons a:active {
        background-color: #0d6efd;
        color: white;
    }

/*LANDING PAGE*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
}

.grid-parent {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) {
    .grid-parent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-parent {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-element {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}
