@model SchoolGradeManager.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h1 class="h1">Create</h1>

<h4 class="h4">Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="operation" class="control-label"></label>
                <input asp-for="operation" id="operationId" class="form-control" onchange="calculate_result()" />
                <span asp-validation-for="operation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="answer1" class="control-label"></label>
                <input asp-for="answer1" id="answer1Id" class="form-control" readonly />
                <span asp-validation-for="answer1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="answer2" class="control-label"></label>
                <input asp-for="answer2" class="form-control" />
                <span asp-validation-for="answer2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="answer3" class="control-label"></label>
                <input asp-for="answer3" class="form-control" />
                <span asp-validation-for="answer3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <script>
            function calculate_result()
            {
                var operationValue = document.getElementById("operationId").value;

                var result = eval(operationValue);
                document.getElementById("answer1Id").value = result;
            }
        </script>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
