@model SchoolGradeManager.Models.Grade

@{
    ViewData["Title"] = "Edit";
}

<h1 class="h1">Edit</h1>

<h4 class="h4">Student</h4>
@Html.DisplayFor(model => model.student.StudentFirstName) @Html.DisplayFor(model => model.student.StudentLastName)
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="G_Math" class="control-label"></label>
                <input asp-for="G_Math" class="form-control" />
                <span asp-validation-for="G_Math" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="G_English" class="control-label"></label>
                <input asp-for="G_English" class="form-control" />
                <span asp-validation-for="G_English" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="G_Biology" class="control-label"></label>
                <input asp-for="G_Biology" class="form-control" />
                <span asp-validation-for="G_Biology" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="G_History" class="control-label"></label>
                <input asp-for="G_History" class="form-control" />
                <span asp-validation-for="G_History" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="G_Geography" class="control-label"></label>
                <input asp-for="G_Geography" class="form-control" />
                <span asp-validation-for="G_Geography" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="G_PE" class="control-label"></label>
                <input asp-for="G_PE" class="form-control" />
                <span asp-validation-for="G_PE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
